#set($hasDateTime = false)
#set($hasDecimal = false)
#foreach($col in $table.columns)
#if($col.javaShortType == "LocalDateTime" || $col.javaShortType == "LocalDate")
#set($hasDateTime = true)
#elseif($col.javaShortType == "BigDecimal")
#set($hasDecimal = true)
#end
#end
package ${package}.domain.dto;

#if($hasDateTime)
import java.time.LocalDate;
import java.time.LocalDateTime;
#end
#if($hasDecimal)
import java.math.BigDecimal;
#end
import lombok.Data;

/**
 * ${table.tableComment}创建/更新 DTO
 *
 * <p>对应 ${table.tableName} 表的写入参数。
 *
 * @author ${author}
 * @since ${date}
 */
@Data
public class ${table.dtoName} {

#foreach($col in $table.columns)
#if($col.primaryKey)
  /** 主键 ID（更新时必填，新增时留空） */
#elseif($col.comment && $col.comment != "")
  /** ${col.comment} */
#else
  /** 列 ${col.columnName} */
#end
  private ${col.javaShortType} ${col.javaFieldName};
#end
}
