package ${package}.infra.mapper;

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import ${package}.domain.entity.${table.entityName};
import org.apache.ibatis.annotations.Mapper;

/**
 * ${table.tableComment} Mapper 接口
 *
 * <p>MyBatis-Plus BaseMapper 提供基础 CRUD 能力。对应数据库表 ${table.tableName}。
 *
 * @author ${author}
 * @since ${date}
 */
@Mapper
public interface ${table.entityName}Mapper extends BaseMapper<${table.entityName}> {
}
