#set($hasDateTime = false)
#set($hasDecimal = false)
#foreach($col in $table.columns)
#if($col.javaShortType == "LocalDateTime" || $col.javaShortType == "LocalDate")
#set($hasDateTime = true)
#elseif($col.javaShortType == "BigDecimal")
#set($hasDecimal = true)
#end
#end
package ${package}.domain.vo;

#if($hasDateTime)
import java.time.LocalDate;
import java.time.LocalDateTime;
#end
#if($hasDecimal)
import java.math.BigDecimal;
#end
import lombok.Data;

/**
 * ${table.tableComment}响应 VO
 *
 * <p>与 ${table.tableName} 表字段对齐的展示视图。
 *
 * @author ${author}
 * @since ${date}
 */
@Data
public class ${table.voName} {

#foreach($col in $table.columns)
#if($col.comment && $col.comment != "")
  /** ${col.comment} */
#end
  private ${col.javaShortType} ${col.javaFieldName};
#end
}
