#parse("velocity_implicit.vm")
#set($entityName = $text.textFirstUpper($table.aliasName))
#set($lowerName = $text.textFirstLower($entityName))
package ${package}.api;

import lombok.extern.slf4j.Slf4j;
import org.springframework.cloud.openfeign.FallbackFactory;
import org.springframework.stereotype.Component;
import com.njydsz.common.core.response.YdszResponse;

import ${package}.domain.vo.${entityName}Vo;

/**
 * ${table.comment} Feign 降级工厂。
 *
 * <p>当 ${entityName}ApiClient 远程调用失败时，提供降级响应。
 *
 * @author ${author}
 * @since ${date}
 */
@Slf4j
@Component
public class ${entityName}ClientFallbackFactory
    implements FallbackFactory<${entityName}ApiClient> {

  /** {@inheritDoc} */
  @Override
  public ${entityName}ApiClient create(Throwable cause) {
    log.error("${entityName}ApiClient 远程调用降级: {}", cause.getMessage());
    return new ${entityName}ApiClient() {
      /** {@inheritDoc} */
      @Override
      public YdszResponse<${entityName}Vo> page(Object query) {
        return YdszResponse.fail("远程服务暂不可用");
      }

      /** {@inheritDoc} */
      @Override
      public YdszResponse<${entityName}Vo> getById(String id) {
        return YdszResponse.fail("远程服务暂不可用");
      }
    };
  }
}
