#parse("velocity_implicit.vm")
#set($entityName = $text.textFirstUpper($table.aliasName))
#set($lowerName = $text.textFirstLower($entityName))
package ${package}.infra.repository;

import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import ${package}.domain.entity.${entityName};
import ${package}.infra.mapper.${entityName}Mapper;
import org.springframework.stereotype.Repository;

/**
 * ${table.comment}数据访问层实现。
 *
 * @author ${author}
 * @since ${date}
 */
@Repository
public class ${entityName}Repository extends ServiceImpl<${entityName}Mapper, ${entityName}> {
  // 自定义数据访问方法
}
