package ${package}.domain.query;

import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.NoArgsConstructor;
import lombok.experimental.SuperBuilder;

import com.njydsz.common.domain.query.PageQuery;

/**
 * ${table.tableComment}分页查询参数
 *
 * <p>继承自 PageQuery，自带 pageNum / pageSize / orderBy / sort 等分页参数。
 *
 * @author ${author}
 * @since ${date}
 */
@Data
@SuperBuilder
@NoArgsConstructor
@EqualsAndHashCode(callSuper = true)
public class ${table.queryName} extends PageQuery {

  private static final long serialVersionUID = 1L;
#foreach($col in $table.columns)
#if($col.javaShortType == "String" && !$col.auditField)

#if($col.comment && $col.comment != "")
  /** ${col.comment}（模糊匹配） */
#end
  private ${col.javaShortType} ${col.javaFieldName};
#end
#end
}
